@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "CONFIRMAÇÃO DE NOVO USUÁRIO";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Confirma o novo usuario? <a id="confirm-link" href="@Model.EmailConfirmationUrl">Se sim, clique aqui!</a>
        </p>
    }
    else
    {
        <p>
            Verifique seu e-mail para confirmar sua conta.
        </p>
    }
}

